absl-py==2.1.0
aiosignal==1.3.1
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
ax-platform==0.3.7
botorch==0.10.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
ConfigSpace==1.1.1
constrained-linear-regression==0.0.4
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
dill==0.3.8
exceptiongroup==1.2.2
executing==2.0.1
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.45.1
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.6.0
google-pasta==0.2.0
gpytorch==1.11
grpcio==1.65.1
h5py==3.11.0
hpbandster==0.7.4
idna==3.6
importlib-resources==6.1.1
importlib_metadata==8.0.0
ipython==8.18.1
ipywidgets==8.1.3
jaxtyping==0.2.33
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyterlab_widgets==3.0.11
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
linear-operator==0.5.1
llvmlite==0.43.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
maskedtensor-nightly==0.12.dev2022714
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.0
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
multipledispatch==1.0.0
multiprocess==0.70.16
mypy-extensions==1.0.0
namex==0.0.8
netifaces==0.11.0
networkx==3.2.1
numba==0.60.0
numpy==1.26.4
opt-einsum==3.3.0
optree==0.12.1
packaging==23.2
pandas==2.2.2
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
Pillow==10.1.0
plotly==5.23.0
prompt_toolkit==3.0.47
protobuf==4.25.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
Pygments==2.18.0
pynndescent==0.5.11
pyparsing==3.1.1
pyre-extensions==0.0.30
pyro-api==0.1.2
pyro-ppl==1.9.1
Pyro4==4.82
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
ray==2.32.0
referencing==0.35.1
requests==2.31.0
rich==13.7.1
rpds-py==0.19.0
scikit-learn==1.1.0
scipy==1.13.1
seaborn==0.13.2
serpent==1.41
stack-data==0.6.3
statsmodels==0.14.2
style==1.1.0
suncalc==0.1.3
sympy==1.12
tenacity==8.5.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
threadpoolctl==3.3.0
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tqdm==4.66.2
traitlets==5.14.3
typeguard==2.13.3
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
umap-learn==0.5.5
update==0.0.1
urllib3==2.1.0
wcwidth==0.2.13
Werkzeug==3.0.3
widgetsnbextension==4.0.11
wrapt==1.16.0
zipp==3.17.0
